{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/chocotones/add">Adicionar</a>
    </div>
    <table>

        <tr>
            <th>Sabor</th>
            <th>Ingredientes</th>
            <th>Preco</th>
        </tr>
        {% for chocotone in dados %}
        <tr>
            <td>{{chocotone.sabor}}</td>
            <td>{{chocotone.ingredientes}}</td>
            <td>{{chocotone.preco}}</td>
            
        </tr>
        {% endfor %}
    </table>

{% endblock %}