<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{url_for{'static, filename=static/style/style.css'}}">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/usuarios">Usuario</a>
            </li>
            <li>
                <a href="/chocotones">Chocotone</a>
            </li>
            <li>
                <a href="/pedidos">Pedido</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    {% block conteudo %}
    {% endblock %}
</body>
</html>